* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.common {
  width: 100%;
  height: 100vh;
  background-color: #282828;
}
.common_container {
  display: flex;
  flex-direction: row;
  height: 72vh;
}
.main_left,
.main_right {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main_left {
  width: 70%;
}
.main_spotlight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
}
.main_spotlight_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.spotlight_h2 {
  color: white;
}
.main_totalRake {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 8vh;
  background-color: #464646;
}

/* total-rake CSS */
.totalRake {
  display: flex;
  flex-direction: row;
}
.totalRake_h3 {
  color: #ffe474;
}
/* SharkFish CSS */
.shark-fish {
  text-align: center;
}
.shark_data,
.fish_data {
  color: #ffe474;
  font-size: 20px;
  font-weight: bold;
}
/*미디어 쿼리*/
@media (max-width: 768px) {
  .common {
    width: 100%;
    height: 100vh;
    background-color: #282828;
  }
  .common_container {
    display: flex;
    flex-direction: column;
    height: 75vh;
  }
  .main_left {
    width: 100%;
  }
}
