.navBar {
  width: 100%;
  height: 13vh;
  background-color: #282828;
  border-bottom: 3px solid #b89e14;
}
.navBar_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.navBar_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 80%;
}
.navBar_logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.navBar_webName {
  font-size: 20px;
  background-color: g;
  font-weight: bolder;
  color: #b89e14;
}
.navBar_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none; /* list 앞에 point 없애기 */
  width: 70%;
  height: 80%;
}
.navBar_menu,
.navBar_menu_b {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.navBar_menu_b {
  height: 30px;
  width: 150px;
}
.navBar_menu_li {
  text-align: center;
  height: 30px;
  width: 150px;
  background-color: #b59a13;
  border-radius: 10px;
}
.navBar_space {
  width: 15%;
}
/* copyright CSS */
.copyRight_list {
  border-top: 3px solid #b89e14;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  color: white;
  background-color: #282828;
}
.copyRight_values {
  margin: 0 10px 0 10px;
}
/* 사이드바 */
.sidebar-menu {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  top: 0;
  right: 0;
  width: 50%; /* 모바일 화면의 70% 차지 */
  height: 100%;
  background-color: #282828;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
  padding-top: 20px;
}

.sidebar-menu ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu ul li {
  padding: 15px;
  border-bottom: 1px solid #b89e14;
}

.sidebar-menu ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
/* 햄버거 메뉴 버튼 */
.hamburger-icon {
  display: none;
  font-size: 28px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}
/*미디어 쿼리*/
@media (max-width: 768px) {
  /* PC Nav 숨김, 햄버거 메뉴 표시 */
  .navBar_list {
    display: none;
  }

  .hamburger-icon {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
  }

  /* 모바일용 NavBar 스타일 */
  .sidebar-menu {
    display: block;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .sidebar-menu.menu-open {
    transform: translateX(0); /* 사이드 메뉴 표시 */
  }

  .navBar_space {
    display: none;
  }
  .copyRight_list {
    height: 20px;
  }
  .copyRight_values {
    font-size: 8px;
    margin: 0 10px 0 10px;
  }
}
